<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjw.frms.dao.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.sjw.frms.model.Resource">
    <id column="RESOURCE_ID" jdbcType="VARCHAR" property="resourceId" />
    <result column="RESOURCE_NAME" jdbcType="VARCHAR" property="resourceName" />
    <result column="RESOURCE_TYPE_ID" jdbcType="VARCHAR" property="resourceType" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="MEMBER_ID" jdbcType="VARCHAR" property="memberId" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="COUNT" jdbcType="VARCHAR" property="count" />
    <result column="IMAGE" jdbcType="VARCHAR" property="image" />
    <result column="TAGS" jdbcType="VARCHAR" property="tags" />
    <result column="RESOURCE_STATE" jdbcType="VARCHAR" property="resourceState" />
  </resultMap>
  <sql id="Base_Column_List">
    RESOURCE_ID, RESOURCE_NAME, RESOURCE_TYPE_ID, CREATED_TIME, END_TIME, MEMBER_ID, PRICE,
    COUNT, IMAGE, TAGS, RESOURCE_STATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from resource
    where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where RESOURCE_STATE='1'
    <if test="where != null and where != ''">
      ${where}
    </if>
    limit #{page,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="int">
      select count(1)
      from resource
      where RESOURCE_STATE='1'
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update resource
    set RESOURCE_STATE='0'
    where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.sjw.frms.model.Resource">
    <selectKey resultType="java.lang.String" order="BEFORE"
               keyProperty="resourceId">
      select REPLACE(UUID(),'-','') from dual
    </selectKey>
    insert into resource (RESOURCE_ID, RESOURCE_NAME, RESOURCE_TYPE_ID,
      CREATED_TIME, END_TIME, MEMBER_ID, 
      PRICE, COUNT, IMAGE, 
      TAGS, RESOURCE_STATE)
    values (#{resourceId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{resourceType,jdbcType=VARCHAR
    },
      #{createdTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{memberId,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, '1')
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.sjw.frms.model.Resource">
    update resource
    set RESOURCE_NAME = #{resourceName,jdbcType=VARCHAR},
      RESOURCE_TYPE_ID = #{resourceType,jdbcType=VARCHAR},
      MEMBER_ID = #{memberId,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=VARCHAR},
      COUNT = #{count,jdbcType=VARCHAR}
    where RESOURCE_ID = #{resourceId,jdbcType=VARCHAR}
  </update>
</mapper>